* {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("estetica.webp") no-repeat fixed center;
    background-size: cover;
    padding: 40px;
    height: auto;
}

#header-div {
    justify-items: center;
    border-radius: 10px;
    padding: 40px;
}

header h1 {
    color: white;
    margin-top: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#frase-impacto {
    color: white;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}

header p {
    color: white;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#div-desc {
    display: flex;
    flex-direction: row;
    background: #1c1f2b;
}

#section-desc {
    width: 50%;
    height: auto;
    padding: 4em;
}

#section-img {
    width: 50%;
    height: auto;
    padding: 4em;
}

#section-img img {
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2)
}

#section-desc p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    font-weight: 200;	
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 1.125rem;
    color: white;
}

#redes {
    display: flex;
    flex-direction: row;
    width: 100%;
}

i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.188rem;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all linear 0.3s;
}

#face:hover {
    cursor: pointer;
    color: #1877F2;
    transform: scale(1.05);
}

#whats:hover {
    cursor: pointer;
    color: #25D366;
    transform: scale(1.05);
}

#insta:hover {
    cursor: pointer;
    color: #E1306C;
    transform: scale(1.05);
}

#pint:hover {
    cursor: pointer;
    color: #e13030;
    transform: scale(1.05);
}

#face:active {
    color: #1877F2;
}

#whats:active {
    color: #25D366;
}

#insta:active {
    color: #E1306C;
}

#pint:active {
    color: #e13030;
}

#div-serv {
    background: white;
    text-align: center;
    width: 100%;
    height: auto;

    h3 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        padding-bottom: 20px;
    }
}

#div-serv h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#section-serv-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    height: auto;
}

#section-serv {
    background: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: auto;
    height: auto;
    border-radius: 12px;
    transition: translate ease 1.5s, box-shadow ease 2s;

    p {
        padding: 10px;
        text-align: justify;
    }

    h3 {
        padding: 10px;
    }
}

#section-serv img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover; 
    height: 200px;
}

#section-serv:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    translate: 0px -20px;
}

#div-soc {
    background-color: #1c1f2b;
    justify-items: center;
}

#frase-cli {
    color: white;
    font-weight: 600;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    padding: 20px;
}

#section-soc-grid {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 20px;
    height: auto;
}

#section-soc {
    background: #323544;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 300px;
    height: 275px;
    padding: 20px;
    border-radius: 12px;
}

#section-soc-nota {
    padding-top: 20px;
    height: max-content;
    text-align: justify;
}

#section-soc-cli {
    display: flex;
    align-items: center;

    p {
        padding-left: 20px;
        font-weight: 600;
    }

    img {
        width: 40px;
        border-radius: 50px;
    }
}

#footer {
    height: auto;
    background-color: #151720;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 200;
    padding: 20px;
}

/* Telas até 1200px - Tablets e notebooks menores */
@media (min-width: 768px) and (max-width: 1200px) {
    #section-soc-grid {
        display: flex;
        flex-direction: column;
    }

    #div-soc {
        text-align: center;
    }

    #div-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-desc p {
        font-size: 1.5rem;
    }

    #section-soc-nota p {
        font-size: 1.25rem;
    }

    #section-img img {
        width: 100%;
    }

    header p {
        font-size: 1.125rem;
    }
  }
  
  /* Telas até 768px - Celulares */
  @media (max-width: 767px) {

    #header-div h1 {
        font-size: 1.75rem;
    }

    #section-soc-grid {
        display: flex;
        flex-direction: column;
    }

    #div-soc {
        text-align: center;
    }

    #div-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section-img img {
        width: 100%;
    }
  }